<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
      <div class="col-xs-12">
        <h1>Main content</h1>
        <hr>
        <app-success-alert></app-success-alert>
        <app-warning-alert></app-warning-alert>
        <input class="form-control" [(ngModel)]="username" name="username" />
        <p>{{username}}</p>
        <hr/>
        <button class="btn btn-primary" (click)="onSubmit($event)" [disabled]="(username==='')">
          Reset
        </button>
      </div>
    </div>
</div>